{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": ["./tsconfig.json", "./packages/**/tsconfig.json"]
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "es", "only-warn"],
    "root": true,
    "rules": {
        "curly": ["error", "all"],

        "es/no-keyword-properties": ["error"],

        "@typescript-eslint/no-non-null-assertion": ["off"],
        "@typescript-eslint/no-inferrable-types": ["off"],
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/explicit-member-accessibility": ["error"],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "memberLike",
                "format": ["camelCase"],
                "modifiers": ["private"],
                "leadingUnderscore": "require",
                "trailingUnderscore": "forbid"
            }
        ]
    }
}
