{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": ["./tsconfig.base.json", "./packages/**/tsconfig.json", "./examples/**/tsconfig.json"]
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "es", "only-warn"],
    "root": true,
    "rules": {
        "curly": ["error", "all"],

        "es/no-keyword-properties": ["error"],

        "@typescript-eslint/no-non-null-assertion": ["off"]
    }
}
